@import "../../../../../helpers/styles/definations";

.nav {
  display: flex;
  flex-direction: column;
  gap: 0;

  margin-left: 10px;

  border-right: 1px solid black;
}


@media (max-width: 500px) {
  .nav{
    flex-direction: row;
    justify-content: space-between;

    border-right: 0;
    border-bottom: 1px solid black;
  }
}